<style>
  .mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }

  .mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }

  .mdl-textfield--file .mdl-button--file {
    right: 0;
  }
</style>

<div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-card mdl-shadow--4dp" style="margin-top: 50px;
    margin-bottom: 50px;">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= action %> Atrativo</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <%= form_with(model: atrativo, local: true) do |form| %>
      <% if atrativo.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(atrativo.errors.count, "error") %> prohibited this atrativo from being saved:</h4>

          <ul>
            <% atrativo.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <label>Imagem</label>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
        <input class="mdl-textfield__input" placeholder="Imagem" required='true' type="text" id="uploadFile" readonly value="<%= atrativo.imagem.attached? ? atrativo.imagem&.filename : '' %>"/>
        <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
          <i class="material-icons">attach_file</i><%= form.file_field :imagem, id: 'uploadBtn' %>
        </div>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :nome, {class: 'mdl-textfield__input', required: ''} %>
        <label class="mdl-textfield__label">Nome</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :endereco, {class: 'mdl-textfield__input', required: true} %>
        <label class="mdl-textfield__label">Endereço</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :tempoDuracaoMinutos, {class: 'mdl-textfield__input', type: 'number', required: ''} %>
        <label class="mdl-textfield__label">Tempo de Duração (minutos)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :capacidadeMaximaPessoas, {class: 'mdl-textfield__input', type: 'number', required: ''} %>
        <label class="mdl-textfield__label">Capacidade máxima de pessoas</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :valorIngressoAdultoCentavos, {class: 'mdl-textfield__input money', required: ''} %>
        <label class="mdl-textfield__label">Valor do ingresso para adulto (R$)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :valorIngressoCriancaCentavos, {class: 'mdl-textfield__input money', required: true} %>
        <label class="mdl-textfield__label">Valor do ingresso para criança (R$)</label>
      </div>

      <p>
        <%= link_to "<i class='mdl-color-text--white-400 material-icons'>arrow_back</i> Voltar".html_safe, atrativos_path, {class: "mdl-button mdl-js-button mdl-button--raised mdl-button--primary"} %>
        <button style="float: right" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
          Cadastrar
        </button>
      </p>
    <% end %>
  </div>

  <script>
    $(function () {
        document.getElementById("uploadBtn").onchange = function () {
            document.getElementById("uploadFile").value = this.files[0].name;
        };
    });
  </script>
</div>
