<style>
  .demo-card-wide {
    margin-bottom: 25px;
  }

  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    /*background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;*/
  }

  .info-list-atrativos {
    margin: 0;
    padding-left: 20px;
  }

    .atrativo-title {
      color: white;
      background-color: #ff4081;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 7px;
      padding-bottom: 7px;
      font-weight: 500;
    }
</style>

<div class="mdl-cell mdl-cell--12-col" style="margin-bottom: 50px;">
  <div style="text-align: center">
    <h3>Lista de Atrativos</h3>
    <h4>Pessoa Jurídica: <%= @pessoa_juridica.nome_fantasia %></h4>
  </div>

  <div class="mdl-grid" style="display: flex; justify-content: space-around;">
    <% if @atrativos.length > 0%>
      <% @atrativos.each do |atrativo| %>
        <div class="mdl-cell--6-col demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title" style="background: url('<%= atrativo.imagem.attached? ? url_for(atrativo.imagem) : image_url('imagePlaceholder.png') %>') center / cover">
            <h2 class="mdl-card__title-text atrativo-title mdl-shadow--8dp">
              <%= atrativo.nome %></h2>
          </div>
          <div class="mdl-card__supporting-text">
            <ul class="info-list-atrativos">
              <li>Endereço: <%= atrativo.endereco %></li>
              <li>Tempo de Duração: <%= atrativo.tempoDuracaoMinutos %> min</li>
              <li>Capacidade Máxima de Pessoas: <%= atrativo.capacidadeMaximaPessoas %></li>
            </ul>
          </div>
          <div class="mdl-card__actions mdl-card--border" style="display: flex; justify-content: space-around;">
            <%= link_to "<i class='mdl-color-text--blue-grey-400 material-icons'>remove_red_eye</i> Visualizar".html_safe, atrativo, {class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"} %>
            <%= link_to "<i class='mdl-color-text--blue-grey-400 material-icons'>edit</i> Editar".html_safe, edit_atrativo_path(atrativo), {class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"} %>

            <% if current_user.admin %>
              <%= link_to "<i class='mdl-color-text--blue-grey-400 material-icons'>delete</i> Remover".html_safe, atrativo, method: :delete, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", data: { confirm: 'Você tem certeza?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="mdl-cell mdl-cell--12-col">
        <div class="alert alert-info">
          Nenhum atrativo foi cadastrado para essa pessoa jurídica.
        </div>
      </div>
    <% end %>

    <% if current_user.admin %>
      <div class="mdl-cell mdl-cell--12-col" style="text-align: center">
        <%= link_to 'Criar Atrativo', new_atrativo_path, {class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent'} %>
      </div>
    <% end %>
  </div>
</div>



