<style>
  .demo-card-wide {
    margin-bottom: 25px;
  }

  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 300px;
    justify-content: center;
  }

  .info-list-atrativos {
    margin: 0;
    padding-left: 20px;
  }

  .atrativo-title {
    color: white;
    background-color: #ff4081;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 500;
    align-self: flex-start !important;
    font-size: 30px;

  }

  .mdl-card {
    min-height: 0px !important;
  }

  .atrativo-entrada-card {
    text-align: center;
    padding: 10px;
  }

  .atrativo-entrada-card p {
    font-size: 19px;
  }
    .atrativo-entrada-card h5 {
      font-size: 19px;
    }
</style>

<div class="mdl-cell mdl-cell--12-col" style="margin-bottom: 50px;">
  <div class="mdl-grid" style="display: flex; justify-content: space-around;">
    <div class="mdl-cell--12-col demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background: url('<%= @atrativo.imagem.attached? ? url_for(@atrativo.imagem) : image_url('imagePlaceholder.png') %>') center / cover">
        <h2 class="mdl-card__title-text atrativo-title mdl-shadow--8dp">
          <%= @atrativo.nome %></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class="info-list-atrativos">
          <li> Endereço: <%= @atrativo.endereco %></li>
          <li>Tempo de Duração: <%= @atrativo.tempoDuracaoMinutos %> min</li>
          <li>Capacidade Máxima de Pessoas: <%= @atrativo.capacidadeMaximaPessoas %></li>
          <li>Valor do Ingresso para Criança: R$ <%= @atrativo.valor_ingresso_crianca %></li>
          <li>Valor do Ingresso para Adulto: R$ <%= @atrativo.valor_ingresso_adulto %></li>
        </ul>
      </div>
    </div>

    <div class="mdl-cell--12-col mdl-card mdl-shadow--2dp mdl-grid" style="margin-bottom: 20px">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop atrativo-entrada-card">
        <h5>Nº de pessoas no mês </h5>
        <p><%= @atrativo.get_numero_ingressos_vendidos(true) %></p>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop atrativo-entrada-card">
        <h5>Valor total arrecadado no mês</h5>
        <p>R$ <%= @atrativo.valor_total_arrecadado(true) %></p>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop atrativo-entrada-card">
        <h5>Número total de pessoas</h5>
        <p><%= @atrativo.get_numero_ingressos_vendidos %></p>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop atrativo-entrada-card">
        <h5>Valor total arrecadado</h5>
        <p>R$ <%= @atrativo.valor_total_arrecadado %></p>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col" style="text-align: center">
      <%= link_to "<i class='mdl-color-text--white-400 material-icons'>arrow_back</i> Voltar".html_safe, atrativos_path, {class: "mdl-button mdl-js-button mdl-button--raised mdl-button--primary"} %>
      <%= link_to "<i class='mdl-color-text--white-400 material-icons'>edit</i> Editar".html_safe, edit_atrativo_path(@atrativo), {class: "mdl-button mdl-js-button mdl-button--raised mdl-button--primary"} %>
      <% if current_user.admin %>
        <%= link_to "<i class='mdl-color-text--white-400 material-icons'>delete</i> Remover".html_safe, @atrativo, method: :delete, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--primary", data: {confirm: 'Você tem certeza?'} %>
      <% end %>
      <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
        <i class='mdl-color-text--white-400 material-icons'>attach_money</i> Cadastrar Entradas
      </button>

    </div>

    <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title">Venda de Ingressos</h4>
      <div class="mdl-dialog__content">
        <%= form_tag(atrativo_cadastrar_entradas_path(@atrativo), method: "post", id: 'formVendaIngressos') do %>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="number" class="mdl-textfield__input" required name="numeroAdultos">
            <label class="mdl-textfield__label">Número de adultos</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="number" class="mdl-textfield__input" required name="numeroCriancas">
            <label class="mdl-textfield__label">Número de crianças</label>
          </div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="submit" class="mdl-button" form="formVendaIngressos">Cadastrar</button>
        <button type="button" class="mdl-button close">Cancelar</button>
      </div>

      <% end %>

      </dialog>
    <script>
        var dialog = document.querySelector('dialog');
        var showDialogButton = document.querySelector('#show-dialog');
        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }
        showDialogButton.addEventListener('click', function () {
            dialog.showModal();
        });
        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });
    </script>
  </div>
</div>
