<div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-card mdl-shadow--4dp" style="margin-top: 50px;
    margin-bottom: 50px;">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Login</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <%= form_tag({controller: "welcome", action: "login"}, method: "post") do %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="Email" name="email">
        <label class="mdl-textfield__label" for="Email">E-mail</label>
        <span class="mdl-textfield__error">Insira um e-mail válido</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="password" name="password">
        <label class="mdl-textfield__label" for="password">Senha</label>
      </div>
      <p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
          Entrar
        </button>
      </p>
    <% end %>
  </div>
</div>