<%= form_with(model: pessoa_juridica, local: true) do |form| %>
  <% if pessoa_juridica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pessoa_juridica.errors.count, "error") %> prohibited this pessoa_juridica from being saved:</h2>

      <ul>
      <% pessoa_juridica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
