<p id="notice"><%= notice %></p>

<h1>Pessoa Juridicas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoa_juridicas.each do |pessoa_juridica| %>
      <tr>
        <td><%= link_to 'Show', pessoa_juridica %></td>
        <td><%= link_to 'Edit', edit_pessoa_juridica_path(pessoa_juridica) %></td>
        <td><%= link_to 'Destroy', pessoa_juridica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pessoa Juridica', new_pessoa_juridica_path %>
