<div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-card mdl-shadow--4dp" style="margin-top: 50px;
    margin-bottom: 50px;">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Cadastrar Pessoa Jurídica</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <%= form_with(model: @pessoa_juridica, local: true) do |form| %>
      <% if @pessoa_juridica.errors.any? %>
        <div id="error_explanation">
          <h4>Encontrou-se <%= pluralize(@pessoa_juridica.errors.count, "erros") %> ao tentar realizar o cadastro:</h4>

          <ul>
            <% @pessoa_juridica.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @user&.errors&.any? %>
        <div id="error_explanation">
          <h4>Encontrou-se <%= pluralize(@user.errors.count, "erros") %> ao tentar realizar o cadastro:</h4>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :cnpj, {class: 'mdl-textfield__input cnpj'} %>
        <label class="mdl-textfield__label" for="cnpj">CNPJ</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :razao_social, {class: 'mdl-textfield__input'} %>
        <label class="mdl-textfield__label" for="razaoSocial">Razão Social</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :nome_fantasia, {class: 'mdl-textfield__input'} %>
        <label class="mdl-textfield__label" for="nomeFantasia">Nome Fantasia</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :email, {class: 'mdl-textfield__input', type: 'email'} %>
        <label class="mdl-textfield__label" for="email">E-mail</label>
        <span class="mdl-textfield__error">Insira um e-mail válido</span>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :password, {class: 'mdl-textfield__input', type: 'password', minlength: 6} %>
<!--        <input class="mdl-textfield__input" type="password" id="password">-->
        <label class="mdl-textfield__label" for="password">Senha</label>
        <span class="mdl-textfield__error">Insira um senha com no mínimo 6 caracteres</span>
      </div>
      <p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
          Cadastrar
        </button>
      </p>

      <!--<div class="actions">
        <%#= form.submit %>
      </div>-->
    <% end %>
  </div>
</div>

<%#= render 'form', pessoa_juridica: @pessoa_juridica %>
