<div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-card mdl-shadow--4dp" style="margin-top: 50px;
    margin-bottom: 50px;">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= action %> Funcionário</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <%= form_with(model: funcionario, local: true) do |form| %>
      <% if funcionario.errors.any? %>
        <div id="error_explanation">
          <h4>Encontrou-se <%= pluralize(funcionario.errors.count, "erros") %> ao tentar realizar o cadastro:</h4>

          <ul>
            <% funcionario.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @user&.errors&.any? %>
        <div id="error_explanation">
          <h4>Encontrou-se <%= pluralize(@user.errors.count, "erros") %> ao tentar realizar o cadastro:</h4>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :nome, {class: 'mdl-textfield__input', required: true} %>
        <label class="mdl-textfield__label">Nome</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :cpf, {class: 'mdl-textfield__input cpf', required: true} %>
        <label class="mdl-textfield__label">CPF</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :cargo, {class: 'mdl-textfield__input', required: true} %>
        <label class="mdl-textfield__label">Cargo</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :email, {class: 'mdl-textfield__input', type: 'email', required: true} %>
        <label class="mdl-textfield__label" for="email">E-mail</label>
        <span class="mdl-textfield__error">Insira um e-mail válido</span>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :password, {class: 'mdl-textfield__input', type: 'password', minlength: 6, required: true} %>
        <label class="mdl-textfield__label" for="password">Senha</label>
        <span class="mdl-textfield__error">Insira um senha com no mínimo 6 caracteres</span>
      </div>

      <p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
          Cadastrar
        </button>
      </p>

    <% end %>
  </div>
</div>




