<style>
  table th {
    text-align: center!important;
  }
</style>

<div class="mdl-cell mdl-cell--12-col" style="margin-bottom: 50px;">
  <div style="text-align: center">
    <h3>Lista de Funcionários</h3>
    <h4>Pessoa Jurídica: <%= @pessoa_juridica.nome_fantasia %></h4>
  </div>

  <div class="mdl-cell mdl-cell--12-col" style="display: flex; justify-content: center">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Cargo</th>
        <th>E-mail</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <% if @funcionarios.length > 0%>
        <% @funcionarios.each do |funcionario| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= funcionario.nome %></td>
            <td><%= funcionario.cpf %></td>
            <td><%= funcionario.cargo %></td>
            <td><%= funcionario.user.email %></td>
            <td><%= funcionario.user.active ? 'Ativo' : 'Desativado' %></td>
            <td>
              <% if funcionario.user.active %>
                <%= link_to "<i class='mdl-color-text--blue-grey-400 material-icons'>highlight_off</i> Desativar".html_safe, toggleActiveStatus_funcionario_path(funcionario), {class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", data: {confirm: 'Você tem certeza que deseja desativar esse usuário?'}} %>
              <% else %>
                <%= link_to "<i class='mdl-color-text--blue-grey-400 material-icons'>check_circle_outline</i> Ativar".html_safe, toggleActiveStatus_funcionario_path(funcionario), {class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", data: {confirm: 'Você tem certeza que deseja ativar esse usuário?'}} %>
            <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">
            <p style="margin-top: 15px;">Nenhum funcionário foi cadastrado para essa pessoa jurídica. Clique no botão abaixo para criar um novo funcionário.</p>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div class="mdl-cell mdl-cell--12-col" style="text-align: center">
    <%= link_to 'Criar Funcionário', new_funcionario_path, {class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent'} %>
  </div>


</div>


