<% if flash[:error] %>
  <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
    <div class="alert alert-danger"><%= flash[:error] %></div>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
    <div class="alert alert-info"><%= flash[:info] %></div>
  </div>
<% end %>