<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
  <% if user_signed_in? %>
    <%= link_to('Atrativos', atrativos_path, {class: "mdl-navigation__link " + current_class_logged_area?(atrativos_path)}) %>
    <% if current_user.admin %>
      <%= link_to('Funcionários', funcionarios_path, {class: "mdl-navigation__link " + current_class_logged_area?(funcionarios_path)}) %>
    <% end %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "mdl-navigation__link") %>
  <% else %>
    <%= link_to "Logar", welcome_index_path, {class: "mdl-navigation__link " + current_class_public_area?(welcome_index_path)} %>
    <%= link_to "Cadastrar", new_pessoa_juridica_path, {class: "mdl-navigation__link " + current_class_public_area?(new_pessoa_juridica_path)} %>
  <% end %>
</nav>



